{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = title %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title_addition, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}

<div class="home">
  <div class="wrap container" role="document">
    <div class="content py-4">

      
      <div id="home-card-container" class="home-card-grid"></div>
    </div>
  </div>

</div>

{% block footer %}
  {{ macros_footer::footer() }}
{% endblock footer %}

<script src="{{ get_url(path="js/page_data.js", trailing_slash=false) | safe }}"></script>
<script src="{{ get_url(path="js/home.js", trailing_slash=false) | safe }}"></script>

{% endblock content %}
